@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css for emoji picker */
.react-emoji {
  flex-direction: row-reverse;
  max-width: 320px;
}
.emoji-picker-input {
  border: 1px solid lightgray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.emoji-picker-input.bottom-picker {
  width: "100%";
}

.emoji-picker-input:focus {
  border: 1px solid gray;
}
.react-input-emoji--container {
  margin: 0 !important;
  border: none !important;
}
/* Message drawer */
.react-emoji-picker--wrapper {
  right: auto !important;
  left: 0 !important;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
}
